<div class="text-white">
    <h2>Ticket</h2>
    {{#if ticket}}
        <p class="text-white">Code: {{ticket.code}}</p>
        <p class="text-white">Date Time: {{ticket.purchase_datetime}}</p>
        <p class="text-white">Total: $ {{ticket.amount}}</p>
        <p class="text-white">Comprador: {{ticket.purchaser}}</p>
        <p class="text-white">Productos:
             <div class="relative overflow-x-auto">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Product name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Codigo
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Cantidad
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Price
                            </th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        {{#each ticket.products}}
                        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                {{this.product.title}}
                            </th>
                            <td class="px-6 py-4">
                                {{this.product.code}}
                            </td>
                            <td class="px-6 py-4">
                                {{this.quantity}}
                            </td>
                            <td class="px-6 py-4">
                                $ {{this.product.price}}
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </p>
        
    {{/if}}

    <h2>Productos que volvieron al carrito por falta de stock</h2>
    
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Product name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Codigo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Cantidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                </tr>
            </thead>
            
            <tbody>
                {{#each cart.productos}}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{this.producto.title}}
                    </th>
                    <td class="px-6 py-4">
                        {{this.producto.code}}
                    </td>
                    <td class="px-6 py-4">
                        {{this.qty}}
                    </td>
                    <td class="px-6 py-4">
                        ${{this.producto.price}}
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div>
        <button><a href="/home/products">volver</a></button>
    </div>
</div>